# Core ML/Agent Framework
langchain
langchain-google-genai
sentence-transformers
langchain-community
ragas
langgraph

# Vector Store
chromadb

# API Framework
fastapi
uvicorn

# Data Handling & Ingestion
pandas
numpy
jupyterlab
arxiv
pypdf
flashrank

# Utilities & Dev Tools
python-dotenv
tqdm
ruff


# Testing
pytest

# Visualization
pygraphviz
matplotlib
ipython
