#Core LangChain and RAG components
langchain
langchain-google-genai
langgraph
sentence-transformers
ragas==0.1.7
flashrank

#Vector Store
chromadb

#API Framework
fastapi
uvicorn

#Data Handling & Notebooks
pandas
numpy
jupyterlab
pypdf
datasets

#Utilities & Dev Tools
python-dotenv
tqdm
ruff
nbqa
isort
arxiv
spacy
#Python keyphrase extraction
pke @ git+https://github.com/boudinfl/pke.git
pytest-dotenv


#Testing & Code Quality
pytest
pre-commit

#Visualization
pygraphviz

#Phase 3: Knowledge Graph
neo4j

# API : Sematic Scholar
requests
